

.app_layout_cont{
    border: 2px solid red;
    .three_sections_cont{
        border: 2px solid violet;
        display: flex;
        height: 100vh;
        
        .left_section{
            border: 2px solid indigo;
            width: 40%;
            
        }
        .middle_section{
            border: 2px solid blue;
            width: 40%;
            
        }
        .right_section{
            border: 2px solid green;
            width: 40%;
            
        }
    }
}

@media screen and (width <= 900px) {
    .app_layout_cont{
        .three_sections_cont{            
            .left_section{
                width: 50%;
                
            }
            .middle_section{
                width: 50%;
                
            }
            .right_section{
                display:none;
            }
        }
    }
    
}
@media screen and (width <= 570px) {
    .app_layout_cont{
        .three_sections_cont{            
            .left_section{
                width: 100%;
                
            }
            .middle_section{
                display:none;
                
            }
            .right_section{
                display:none;
                
            }
        }
    }
}