
.header_cont{
    // border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: white;
    .hamburger_logo{
        display: none;
    }
    .logo_cont{
        // border: 2px solid violet;
        img{
            // border: 2px solid indianred;
            border-radius: 20px;
            margin: 4px;
        }
    }
    .navbar_cont{
        // border: 2px solid indigo;


        .nav_link{
            // border: 2px solid blue;
            margin: 5px;
            text-decoration: none;
            font-size: 22px;
            cursor: pointer;
        }
        .eye_icon{
            display: none;
        }
    }
}

@media screen and (width <= 570px) {
    .header_cont{
        .hamburger_logo{
            // border: 2px solid blue;
            display: block;
            .nav_link{
                font-size: 18px;
            }
        }
        .logo_cont{
            display: none;
            img{
            }
        }
        .navbar_cont{
    
    
            .nav_link{
                font-size: 16px;
            }
            .eye_icon{
                display: unset;
            }
        }
    }
    
}