
.skeleton_cont{
    background: #b9b9b9;
    margin: 10px auto;
    border-radius: 4px;
    box-shadow: 0.1px 0.1px 3px 0.5px gray;
    animation: skeleton-animation 0.5s infinite ease-in-out alternate;
}

@keyframes skeleton-animation {
    0%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}