

.user_item_cont{
    .user_item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            width: 30px;
        }
        .user_name{

        }
        button{

        }
    }
}