

.file_menu_cont{
    // border: 2px solid red;
    position: relative;
    // border: none;
    // outline: none;
    .file_menu_dialog{   
        // border: 2px solid blue;
        position: absolute;
        top: -200px;
        left:0;
        width: 90px;
        padding: 5px;
        border-radius: 4px;
        border: none;
        .icon_label{
            border: 1px solid palegoldenrod;
            font-size: 12px;
            margin: 10px 0;
            padding: 5px;
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            cursor: pointer;
            &:hover{
                background: pink;
            }
        }
    }
}
