
.home_cont{
    // border: 2px solid red;
    height: 99vh;
    background: rgb(255, 255, 255);
    .heading_cont{
        // border: 2px solid blue;
        text-align: center;
        margin: 20px 0;
        color: #515151;
    }
}